{% extends "layouts/master_company.twig" %}

{% block page_title %}Tambah Lowongan{% endblock %}
{% block page_subtitle %}Form untuk menambahkan lowongan baru{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm">
    <form method="POST" action="{{ base_path() }}/company/jobs/store">
        <div class="mb-3">
            <label class="form-label">Judul Lowongan</label>
            <input type="text" name="judul" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="kategori" class="form-label">Kategori</label>
        <select name="kategori_id" class="form-select" style="color: #0000; background-color: #0000;">
            <option value="">-- Pilih Kategori --</option>
            {% for kat in categories %}
                <option value="{{ kat.id }}">{{ kat.nama_kategori }}</option>
            {% endfor %}
        </select>
        </div>


        <div class="mb-3">
            <label class="form-label">Deskripsi</label>
            <textarea name="deskripsi" rows="5" class="form-control" required></textarea>
        </div>

        <button type="submit" class="btn text-white" style="background-color: #1D3557;">Simpan</button>
    </form>
</div>
{% endblock %}
